version: '3'

networks:
  my_network:

services:
  selenium-hub:
    image: selenium/hub:latest
    ports:
      - "4444:4444"
    networks:
      - my_network

  appium:
    image: appium/appium:latest
    ports:
      - "4723:4723"
    networks:
      - my_network

  android-emulator:
    image: budtmo/docker-android:emulator_11.0
    privileged: true
    depends_on:
      - appium
    environment:
      - DEVICE=android_emulator
      - EMULATOR=android_emulator
      - VIRTUAL_DEVICE_NAME=Pixel_3_API_29
      - APPIUM_PORT=4723
    ports:
      - "5555:5555"  # Port used for ADB connections to the emulator
    networks:
      - my_network
