version: '3'

networks:
  my_network:

services:
  selenium-hub:
    image: selenium/hub:latest
    ports:
      - "4444:4444"
    networks:
      - my_network

  appium:
    image: appium/appium:latest
    ports:
      - "4723:4723"
    networks:
      - my_network

  android-emulator:
    image: appium/appium:latest
    privileged: true
    depends_on:
      - appium
    environment:
      - PLATFORM_VERSION=android-12  # Replace with the desired Android version
      - DEVICE_NAME=android-emulator
    networks:
      - my_network
